*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  color: white;
}

.link {
  color: white;
  text-decoration: none;
  transition: color 200ms ease-in-out;
}
.link:hover {
  color: #888888;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}

button {
  color: white;
}

.img-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
