.single-Movie {
  transition: transform 200ms ease-in-out;
  position: relative;
  img {
    border-radius: 8px;
    width: 7.6rem;
    margin: auto;
  }
  span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    width: 100%;
    text-align: center;
    background-color: black;
    border-radius: 8px;
  }
}
.single-Movie:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 500px) {
  .single-Movie {
    img {
      width: 8rem;
    }
  }
}

@media only screen and (min-width: 900px) {
  .single-Movie {
    img {
      width: 9rem;
    }
  }
}
