.movie-slider-container {
  .movie-slider-container2 {
    position: relative;

    .movie-slider {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      padding: 1rem 0;

      overflow: scroll;
      overflow-y: clip;
      // overflow-x: visible;
      gap: 1.5rem;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    .movie-slider::-webkit-scrollbar {
      display: none;
    }
    .after,
    .before {
      display: none;
      font-size: 2rem;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 30px;
      background-color: #0000008c;
      cursor: pointer;
      z-index: 3;
      transition: background-color 150ms ease-in-out;
    }
    .before {
      left: 0;
      
    }
    .after {
      right: 0;
    }
  }
  .movie-slider-container2:hover .before,
  .movie-slider-container2:hover .after {
    display: flex;
  }
  .after:hover,
  .before:hover {
    background-color: #000000d0;
  }
}
